@import "variables";

.aws-header {
  text-align: center;
  padding-top: 70px;
  min-height: 600px;
}

.aws-install {
  margin-top: 75px;
}

.aws-install-step {
  margin-bottom: 50px;

  p:nth-child(1) {
    font-weight: 200;
    font-size: 25px;
    color: rgba($color-white, .74);
    line-height: 30px;
  }

  p:nth-child(2) {
    font-weight: 600;
    font-size: 30px;
    color: $color-white;
    line-height: 37px;
  }

  p:nth-child(3) {
    font-weight: 200;
    font-size: 25px;
    color: rgba($color-white, .74);
    line-height: 30px;
  }
}

h1 {
  font-size: 38px;
  color: $color-white;
  line-height: 47px;
  margin-bottom: 0;
}

h2 {
  font-weight: 200;
  font-size: 26px;
  color: $color-white;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 35px;
}

.other-downloads {
  color: $color-white;

  a {
    color: $color-white;
  }
}
