@import "variables";

p,
a {
  font-size: 13pt;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h2 {
  border-bottom: 2px solid $divider-color;
  padding: 6pt 0;
  margin-top: 30pt;
}

h3 {
  margin-top: 25pt;
}
