!!! 5
%html
  %head
    = partial "includes/layout/head"
  %body{data: {spy: "scroll", target: ".qnav"}}
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    .wrapper
      .container.md-page{ class: (current_page.data.page_class if current_page.data.page_class) }
        = yield
    = partial "includes/layout/footer"
